# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.env
*.log

query.txt

# Docker
*.env

# DBT
dbt_packages/
target/
logs/
dbt_modules/
.env

# IDEs
.vscode/
.idea/
*.swp
